<p>about works!</p>

<app-image 
  imgId="woman-glasses-about" 
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop" 
  dataMode="smartcrop">
</app-image>

<app-image imgId="woman-glasses-about2"
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop"
  dataMode="smartcrop">
</app-image>

<app-image imgId="woman-glasses-about3"
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop"
  dataMode="smartcrop">
</app-image>

<app-image imgId="woman-glasses-about4"
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop"
  dataMode="smartcrop">
</app-image>
