<p>about works!</p>

<app-image 
  imgId="woman-glasses-about" 
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop" 
  dataMode="smartcrop">
</app-image>


<app-video 
  containerId="glacier-climber"
  path="Scene7SharedAssets/Glacier_Climber_MP4">
</app-video>

<!-- path="/TMobiledev/_media_/59d/59d75936-fd5e-45da-97d7-f00ae9f7bb99.mp4" -->
<!-- <app-video 
  containerId="game-of-thrones2" 
  path="/TMobiledev/_media_/gameofthrones.mp4">
</app-video> -->

<app-image 
  imgId="woman-glasses-about2"
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop"
  dataMode="smartcrop">
</app-image>

<app-image 
  imgId="woman-glasses-about3"
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop"
  dataMode="smartcrop">
</app-image>

<app-image 
  imgId="woman-glasses-about4"
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop"
  dataMode="smartcrop">
</app-image>
