<div class="dynamic-media-container">
  <img
    class="dm-image"
    id="{{ imgId }}"
    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
    data-src="{{ path }}" 
    [attr.data-mode]="dataMode">
</div>

<!-- <script type="text/javascript" src="https://s7d9.scene7.com/s7viewers/libs/responsive_image.js"></script>   -->
<!-- <script type="text/javascript">
  var dmImages = document.querySelectorAll(".dm-image")

  dmImages.forEach(function(image) {
      s7responsiveImage(image);
  });
</script> -->
