<p>home works!</p>

<!-- <app-image 
  containerId="man-child" 
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/bg-heroFull-sleeping_dad_girl-61278" 
  dataMode="smartcrop">
</app-image>

<app-image 
  containerId="woman-glasses" 
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/29558-bg-twothirds-evergreen-deals-mh-3.desktop" 
  dataMode="smartcrop">
</app-image>-->

<app-custom-dynamic-media
  type="viewers"
  containerId="glacier-climber"
  path="Scene7SharedAssets/Glacier_Climber_MP4">
</app-custom-dynamic-media>

<app-custom-dynamic-media 
  type="image" 
  containerId="dad-daughter" 
  path="http://tmobile-dev.scene7.com/is/image/TMobiledev/bg-heroFull-sleeping_dad_girl-61278"
  dataMode="smartcrop">
</app-custom-dynamic-media>
